<div class="container p-3">
  <div class="container">
    <div class="text-center">
      <h1>Bienvenido</h1>
      <h3>El siguiente proyecto es realizado usando la API de
        <a href="https://openweathermap.org/">OpenWeatherMap</a>
        para la consulta del clima de cualquier cuidad y pais de manera practica con Angular.</h3>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-body">
          <img width="200" alt="Angular Logo" src="http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/weather-icon.png"
            class="mx-auto">
          <form (submit)="submitLocation(cityName,codeCountry)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de la cuidad" #cityName>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Codigo pais" #codeCountry>
            </div>


            <button class="btn btn-success btn-block mt-2">
              Consultar Clima
            </button>

          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <div *ngIf="weather" class="card card-body">
          <h4 class="text-center">Resultados</h4>
          <br>
          <p>Temperatura: {{weather.main.temp}}</p>
          <p>Coordenadas: Longuitud {{weather.coord.lon}} Latitud {{weather.coord.lat}}</p>
          <p>Temperatura Maxima {{weather.main.temp_max}} Minima {{weather.main.temp_min}} </p>
          <p>Humedad: {{weather.main.humidity}}</p>
          <p>Presión atmosférica: {{weather.main.pressure}}</p>
          <p>Tipo de clima {{weather.weather[0].description}}</p>
          <br><br><br>  
        </div>
        <div *ngIf="!weather" class="card card-body">
          <h4 class="text-center">Resultados</h4>
          <br>
          <p>Temperatura:</p>
          <p>Coordenadas: Longuitud Latitud </p>
          <p>Temperatura Maxima Minima </p>
          <p>Humedad: </p>
          <p>Presión atmosférica: </p>
          <p>Tipo de clima: </p>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>


</div>